
<!-- <input type="submit" class="btn btn-primary" value="Add"> -->

<!-- <form ng-submit="postJob(job)">
  <input type="text" ng-model="job.title" placeholder="Job Title">
  <input type="text" ng-model="job.description" placeholder="Post Description">
  <input type="text" ng-model="job.skills" placeholder="Post Skills">
  <input type="submit" value="Job" class="btn btn-warning">
</form>
 -->
<!--  <div class="jobContainer col-sm-4 col-md-3" >
   <input type="text" class="form-control" ng-model="query" placeholder="Search">
 </div> -->

<div ng-repeat="job in jobs | filter:query" class="jobContainer jumbotron col-sm-6 col-md-6 col-lg-4" >

   <a ng-href="#/job/{{job.$id}}">
      <h4 class="jobTitle">{{job.title | limitTo: 31}}{{job.title.length > 31 ? '...' : ''}}</h4>
   </a>
     <div>
        <p>{{ job.description | limitTo: 400 }}{{job.description.length > 400 ? '...' : ''}}
        <br>
        Location: {{job.location}}
        <br>
        Salary: {{job.salary}}
        <br>
        <!-- <span am-time-ago="1421848368791"></span> -->
        </p>
        
   </div>
</div>


 

  <!-- anything typed in here is magically saved to Firebase! -->
  <!-- Post New Job -->
<!--     <input type="text" ng-model="job.text"/> -->
    <!-- all changes from Firebase magically appear here! -->
    <!-- <h1>Title: {{ job.title }}</h1>